label {
	display: block;
	margin: 5px 0;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 5px;
	border-bottom: 1px solid #aaa;
}
.error-field {
	    border: #cc3e3a 1px solid;
			color: #cc3e3a;
}
